[submodule "/Users/jhh/git/heusalagroup/hghs/src/fi/hg/core"]
	path = /Users/jhh/git/heusalagroup/hghs/src/fi/hg/core
	url = git@github.com:heusalagroup/fi.hg.core.git
	branch = main
[submodule "src/fi/hg/core"]
	url = git@github.com:heusalagroup/fi.hg.core.git
	path = src/fi/hg/core
[submodule "src/fi/hg/matrix"]
	path = src/fi/hg/matrix
	url = git@github.com:heusalagroup/fi.hg.matrix.git
